<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
</head>
<body>
<header>
    <h1>Habit Tracker</h1>
    <div class="menu">
        <a class="link" href = "{}">Add New Habit</a>
        <a class="link" href="{}">CALANDAR?</a>
        <a class="link" href="{}">USERNAME</a>
    </div>
</header>
<main>
    <div class="habit-container">


    </div>

</main>
    
</body>
</html>